#d1
{
    border: 5px solid #000;
    width: 300px;
    height: 100px;
    font-size: 50px;
    background-color: aqua;
    padding: 80px;
    margin: 50px;
    background: linear-gradient(90deg,red,green,blue);
    background-clip: text;
    color: transparent;

}

#d1 span
{
    background: linear-gradient(90deg, yellow ,red,blue);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#d2
{
    border: 5px solid red;
    border-radius: 20px ;
    width: 300px;
    height: 100px;
    font-size: 50px;
    background-color: blue;
    padding: 0 0 0 50px;
    margin: 10px 20px 30px 40px ; 
    box-shadow: 5px 5px 2px 5px black;
}