/* Full page background */
body {
  margin: 0;
  padding: 0;
  background: #7fe5ff;          
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.calc-wrapper {
  background: transparent         
  padding: 40px 60px;
}

/* Black calculator body */
.calculator {
  background: #000000;
  border-radius: 25px;
  padding: 25px 20px 20px 20px;
  box-sizing: border-box;
  width: 260px;                
}

/* Display bar */
#display {
  width: 100%;
  height: 65px;
  border-radius: 6px;
  border: none;
  background: #f0f0f0;
  text-align: right;
  font-size: 24px;
  padding: 10px 12px;
  box-sizing: border-box;
  margin-bottom: 18px;
}

/* Grid of buttons */
.keys {
  display: grid;
  grid-template-columns: repeat(4, 56px);
  grid-auto-rows: 50px;
  justify-content: center;
  gap: 8px;
}

/* Base button style */
.keys button {
  border: none;
  outline: none;
  background: #dcdcdc;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

/* Operator buttons (+ - * /) */
.operator {
  background: #cfcfcf;
}

/* Red C button */
.clear {
  background: #ff3030;
  color: #ffffff;
}

/* Small click effect */
.keys button:active,
.equal:active {
  transform: scale(0.97);
}

/* Orange = bar at the bottom */
.equal-bar {
  margin-top: 16px;
}

.equal {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  border: none;
  background: #ff6600;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  display: block;
}
