#dabba{
    
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    position: absolute;
    animation: Movingdabba 5s linear infinite ;
    
} 


@keyframes Movingdabba{
    0%{
        top: 0px;
        left: 0px;
        background-color: red;
          transform: rotate(360deg);
        transition: transform 1s;
    }
    25%{
        top: 0px;
        left: 500px;
        background-color: yellow;
       
    }
    50%{
        top: 500px;
        left: 500px;
        background-color: blue;
    }
    75%{
        top: 500px;
        left: 0px;
        background-color: blueviolet;
    }
    100%{
        top: 0px;
        left: 0px;
        background-color: red;
    }
}

#d2{
    width: 100px;
    height: 50px;
    font-size: xx-large;
    border: 1px solid #000;
    transform: rotate(180deg);
    background-color: brown;
}

#d2:hover{
    transform: ;
    transition: transform 2s;
}